[Unit]
Description=DiscordBot
After=network.target

[Service]
ExecStart=/usr/local/bin/UpdateDiscordBot.sh
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target